.active {
   color: red;
   font-size: 24px;
   transition: all 0.3s ease;
}
.link {
   font-weight: bold;
   border: 3px solid black;
   font-size: 20px;
   padding: 10px;
   background-color: #824545;
   color: white;
}